.todoItem {
  position: relative;
  display: flex;
  border: 1px solid rgb(183, 183, 183);
  gap: 10px;
  padding: 1px 5px;
  background-color: gainsboro;
  border-radius: 10px;
  margin-bottom: 3px;
}
.todoInputField {
  width: 100%;
}

.todoInputField {
  display: flex;
  position: relative;
  gap: 3px;
}
.todoText {
  width: 100%;
  padding: 12px 10px;
  border: none;
  outline: none;
  font-size: 18px;
  background-color: gainsboro;
  cursor: default;
}
.todoItemButtons {
  cursor: pointer;
  display: flex;
  height: 30px;
  margin: auto;
  gap: 5px;
  padding: 2px 10px;
  text-align: center;
}
.todoItemEditIcon,
.todoItemDeleteIcon {
  cursor: pointer;
}
.todoItemDeleteIcon {
  color: rgb(188, 49, 49);
}
.editInput {
  background-color: rgb(229, 229, 229);
}
.isChecked {
  text-decoration: line-through;
}
